<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chazi10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{55,88}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{55,88}}</string>
                <key>sourceSize</key>
                <string>{63,94}</string>
            </dict>
            <key>chazi1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,451},{41,62}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{41,62}}</string>
                <key>sourceSize</key>
                <string>{59,74}</string>
            </dict>
            <key>chazi2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{78,85}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{78,85}}</string>
                <key>sourceSize</key>
                <string>{94,101}</string>
            </dict>
            <key>chazi3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,192},{40,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{40,53}}</string>
                <key>sourceSize</key>
                <string>{48,61}</string>
            </dict>
            <key>chazi3_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,192},{40,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{40,53}}</string>
                <key>sourceSize</key>
                <string>{48,61}</string>
            </dict>
            <key>chazi4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,105}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{110,105}}</string>
                <key>sourceSize</key>
                <string>{118,111}</string>
            </dict>
            <key>chazi5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{102,81}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{102,81}}</string>
                <key>sourceSize</key>
                <string>{110,93}</string>
            </dict>
            <key>chazi6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,355},{48,69}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,69}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>chazi7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,279},{43,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{43,74}}</string>
                <key>sourceSize</key>
                <string>{51,82}</string>
            </dict>
            <key>chazi8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,426},{56,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{56,64}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>chazi9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,369},{55,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{55,80}}</string>
                <key>sourceSize</key>
                <string>{61,88}</string>
            </dict>
            <key>图层 2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,369},{55,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{55,80}}</string>
                <key>sourceSize</key>
                <string>{61,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10207_1.png</string>
            <key>size</key>
            <string>{124,494}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61289dba1b49d9d1255e09a79d645ee3$</string>
            <key>textureFileName</key>
            <string>10207_1.png</string>
        </dict>
    </dict>
</plist>
