<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>103010body_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,2},{104,135}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{104,135}}</string>
                <key>sourceSize</key>
                <string>{106,147}</string>
            </dict>
            <key>103010head_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,139},{58,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,73}}</string>
                <key>sourceSize</key>
                <string>{58,73}</string>
            </dict>
            <key>103010larm_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,72},{57,81}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{57,81}}</string>
                <key>sourceSize</key>
                <string>{61,85}</string>
            </dict>
            <key>103010larmxia_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,131},{67,41}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{67,41}}</string>
                <key>sourceSize</key>
                <string>{79,47}</string>
            </dict>
            <key>103010larmxia_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,131},{67,41}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{67,41}}</string>
                <key>sourceSize</key>
                <string>{79,47}</string>
            </dict>
            <key>103010lfoot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,153},{34,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{34,43}}</string>
                <key>sourceSize</key>
                <string>{38,47}</string>
            </dict>
            <key>103010lhand_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,95},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{54,54}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>103010lleg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{54,78}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{54,78}}</string>
                <key>sourceSize</key>
                <string>{58,84}</string>
            </dict>
            <key>103010llegxia_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,58},{35,66}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{35,66}}</string>
                <key>sourceSize</key>
                <string>{37,74}</string>
            </dict>
            <key>103010rarm_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,139},{58,70}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{58,70}}</string>
                <key>sourceSize</key>
                <string>{68,76}</string>
            </dict>
            <key>103010rfoot1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,153},{64,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{64,47}}</string>
                <key>sourceSize</key>
                <string>{64,51}</string>
            </dict>
            <key>103010rfoot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,161},{57,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{57,41}}</string>
                <key>sourceSize</key>
                <string>{65,47}</string>
            </dict>
            <key>103010rfoot_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,161},{57,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{57,41}}</string>
                <key>sourceSize</key>
                <string>{65,47}</string>
            </dict>
            <key>103010rhand_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,151},{53,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{53,43}}</string>
                <key>sourceSize</key>
                <string>{63,51}</string>
            </dict>
            <key>103010rhand_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,151},{53,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{53,43}}</string>
                <key>sourceSize</key>
                <string>{63,51}</string>
            </dict>
            <key>103010rleg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,95},{66,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{66,64}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>103010rlegxia_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{36,67}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{36,67}}</string>
                <key>sourceSize</key>
                <string>{38,69}</string>
            </dict>
            <key>103010she_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,72},{11,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{11,15}}</string>
                <key>sourceSize</key>
                <string>{15,19}</string>
            </dict>
            <key>103010texiao3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{179,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,149}}</string>
                <key>sourceSize</key>
                <string>{179,149}</string>
            </dict>
            <key>103010texiao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,2},{97,68}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,10},{97,68}}</string>
                <key>sourceSize</key>
                <string>{141,78}</string>
            </dict>
            <key>103010texiao5_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{179,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,149}}</string>
                <key>sourceSize</key>
                <string>{179,149}</string>
            </dict>
            <key>103010waist_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{72,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{72,49}}</string>
                <key>sourceSize</key>
                <string>{78,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>103010_1.png</string>
            <key>size</key>
            <string>{506,204}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e35955f7bd3f0871abf8c21c6a0f47a8$</string>
            <key>textureFileName</key>
            <string>103010_1.png</string>
        </dict>
    </dict>
</plist>
